In [12]:
import pyodbc
import pandas as pd

In [5]:
cnxn_str = ("Driver={SQL Server Native Client 11.0};"
            "Server=LAPTOP-OSB9U57H;"
            "Database=AdventureWorks2019;"
            "Trusted_Connection=yes;")

cnxn = pyodbc.connect(cnxn_str)

In [ ]:
#cnxn_str = ("Driver={SQL Server Native Client 11.0};"
#            "Server=USXXX00345,67800;"
#            "Database=DB02;"
#            "UID=Alex;"
#            "PWD=Alex123;")
#cnxn = pyodbc.connect(cnxn_str)

In [8]:
cursor= cnxn.cursor()

In [23]:
query=cursor.execute("select * from sales.SalesOrderHeader")

In [11]:
query

In [30]:
pd.read_sql("select  * from sales.SalesOrderHeader",cnxn)

C:\Users\AtulKadlag\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,...,CreditCardID,CreditCardApprovalCode,CurrencyRateID,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate
0,43659,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43659,PO522145787,10-4020-000676,...,16281.0,105041Vi84182,NaN,20565.6206,1971.5149,616.0984,23153.2339,None,79B65321-39CA-4115-9CBA-8FE0903E12E6,2011-06-07
1,43660,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43660,PO18850127500,10-4020-000117,...,5618.0,115213Vi29411,NaN,1294.2529,124.2483,38.8276,1457.3288,None,738DC42D-D03B-48A1-9822-F95A67EA7389,2011-06-07
2,43661,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43661,PO18473189620,10-4020-000442,...,1346.0,85274Vi6854,4.0,32726.4786,3153.7696,985.5530,36865.8012,None,D91B9131-18A4-4A11-BC3A-90B6F53E9D74,2011-06-07
3,43662,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43662,PO18444174044,10-4020-000227,...,10456.0,125295Vi53935,4.0,28832.5289,2775.1646,867.2389,32474.9324,None,4A1ECFC0-CC3A-4740-B028-1C50BB48711C,2011-06-07
4,43663,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43663,PO18009186470,10-4020-000510,...,4322.0,45303Vi22691,NaN,419.4589,40.2681,12.5838,472.3108,None,9B1E7A40-6AE0-4AD3-811C-A64951857C4B,2011-06-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31460,75119,8,2014-06-30,2014-07-12,2014-07-07,5,True,SO75119,None,10-4030-011981,...,6761.0,429826Vi35166,NaN,42.2800,3.3824,1.0570,46.7194,None,9382F1C9-383A-435F-9449-0EECEA21B78D,2014-07-07
31461,75120,8,2014-06-30,2014-07-12,2014-07-07,5,True,SO75120,None,10-4030-018749,...,8925.0,929849Vi46003,NaN,84.9600,6.7968,2.1240,93.8808,None,AE6A4FCF-FF73-4CD4-AF2C-5993D00D4AFE,2014-07-07
31462,75121,8,2014-06-30,2014-07-12,2014-07-07,5,True,SO75121,None,10-4030-015251,...,14220.0,529864Vi73738,NaN,74.9800,5.9984,1.8745,82.8529,None,D7395C0E-00CB-4BFA-A238-0D6A9F49884F,2014-07-07
31463,75122,8,2014-06-30,2014-07-12,2014-07-07,5,True,SO75122,None,10-4030-015868,...,18719.0,330022Vi97312,NaN,30.9700,2.4776,0.7743,34.2219,None,4221035A-4159-492F-AF40-4363A64FFC16,2014-07-07
31464,75123,8,2014-06-30,2014-07-12,2014-07-07,5,True,SO75123,None,10-4030-018759,...,10084.0,230370Vi51970,NaN,189.9700,15.1976,4.7493,209.9169,None,D54752FF-2B54-4BE5-95EA-3B72289C059F,2014-07-07

In [29]:
cursor.cancel()