In [33]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from numpy import sqrt, arange
from scipy import stats
%matplotlib inline

In [34]:
sqrt(9)

3.0

In [35]:
student= pd.read_csv('student_data.csv',sep=";")

In [36]:
student.head()

,school,gender,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dbev,Wbev,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13

In [39]:
student.shape

(649, 33)

In [42]:
student['beverage_index'] = (5* student['Dbev'] + 2*student['Wbev'])/7

In [43]:
student['beverage_index']

0      1.000000
1      1.000000
2      2.285714
3      1.000000
4      1.285714
         ...
644    1.285714
645    1.000000
646    1.000000
647    3.285714
648    3.285714
Name: beverage_index, Length: 649, dtype: float64

In [46]:
student['bev'] = student['beverage_index'] <= 2

In [47]:
student['bev']

0       True
1       True
2      False
3       True
4       True
       ...
644     True
645     True
646     True
647    False
648    False
Name: bev, Length: 649, dtype: bool

In [48]:
student['bev'] =student['bev'].map({True:'Low',False:'High'})

In [49]:
student['bev']

0       Low
1       Low
2      High
3       Low
4       Low
       ...
644     Low
645     Low
646     Low
647    High
648    High
Name: bev, Length: 649, dtype: object

In [ ]:
#confidence Interval
#Central limit Theorem

# To get the confidence interval for the mean we need three numbers:

  #  1. Sample mean
  #  2. Standard error
  #  3. Confidence level
    
    #formula = s/sqrt(sample_size)

In [50]:
sample_size=student.shape[0]
print(sample_size)

649

In [51]:
sample_mean_grade =student['G3'].mean()
sample_mean_grade

11.906009244992296

In [52]:
std_error_grades = student['G3'].std()/sqrt(sample_size)

In [53]:
std_error_grades

0.126814350307949

In [55]:
stats.norm.interval(0.95, loc=sample_mean_grade, scale=std_error_grades)

(11.65745768566587, 12.154560804318722)